.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 9997;
  background-color: rgba(136, 136, 136, 0.7);
  transition: visibility 0.7s, opacity 0.7s;
}

.modal-content-wrapper {
  position: relative;
  background-color: #E7EFF5;
  border: 1px solid #0071BC;
  width: 95%;
  height: auto;
  min-height: 5%;
  max-height: 95%;
  max-width: 75rem;
  padding: 1.5%;
  margin: 0 auto;
  margin-top: 2%;
  z-index: 9998;
  overflow: auto;
}

.modal-close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  padding: 0;
  color: #bbb;
  font-size: 1.25em;
  z-index: 9999;
}

.modal-overlay-hidden {
  visibility: hidden;
  opacity: 0;
}

.modal-overlay-visible {
  visibility: visible;
  opacity: 1;
}